.gameBg {
    padding: 5%;
    color: white;
    overflow: hidden;
    background-color: #1d1d20;
}

.gameTitle {
    font-size: 3rem;
    font-style: italic;
    padding: 1%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.mobile {
    font-size: 1.5rem;
}


.gameheadBlock {
    overflow: hidden;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
}

.gamePoster {
    position: sticky;
    float: left;
    margin-right: 2%;
    height: 20rem;
    width: 24rem;
    transition: 0.2s ease-in-out;
}

.gameDesc {
    flex: 1;
    display: flex;
    width: auto;
    flex-direction: column;
    font-size: 1.5rem;
}

.mobileDesc {
    display: none;
    font-size: 1.5rem;
}


.infoBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    font-size: 1.5rem;
}

.coloredText {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #ff6738;

}

.sysTitle {
    margin-top: 2.5%;
}

.skeletonArea {
    margin-top: 5%;
}

.skeletonAreaTop {
    display: flex;
    flex-direction: row;
}

.skeleTop {
    margin-top: 2.5%;
    margin-left: 1%;
}

.AdditionalDesc p {
    padding: 0;
    margin: 0;

}

.AdditionalDesc ul {
    margin: 0;
    padding-top: 1%;
    padding-left: 15px;
    padding-bottom: 1.2%;
    list-style-type: none;

}

.AdditionalDesc li {
    position: relative;
    padding-left: 30px;
    line-height: 2;
}

.AdditionalDesc li::before {
    content: '\25B6';
    position: absolute;
    left: 0;
    margin-top: 8px;
    font-size: 1rem;
    color: #ff6738;
}

.listFlex {
    display: flex;
    flex-direction: column !important;
}

.gameBodyBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.carouselWrapper {
    background-color: transparent;
    padding-left: 5%;
    padding-right: 5%;
}

.screenCarausel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.screenCarausel Img {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    padding: 0 0 5% 0;
    object-fit: contain;
}

.slick-dots  {

    transform: scale(2);

}

.slick-dots button {
    background-color: #ff6738 !important;
    transform: scale(1);
}

@media (max-width: 1100px) {

    .gameBg {
        word-wrap: normal;
        word-break: break-word;
        overflow: auto;
    }

    .coloredText {
        align-self: center;
    }
}

@media (max-width: 900px) {
    .gamePoster {
        width: 100%;
        height: 100%;
    }

    .gameDesc {
        display: none;
    }

    .mobileDesc {
        display: block;
    }


}
